@charset "utf-8";

@import "variables";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/helpers/typography";
@import "~bulma/sass/helpers/spacing";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/footer.sass";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/media";
@import "~bulma/sass/components/message";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/tag";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/notification";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/components/card";
@import "~bulma/sass/components/level";
@import "~bulma/sass/form/shared";
@import "~bulma/sass/form/input-textarea";
@import "~bulma/sass/form/tools";
@import "spinner";
@import "skip_link";
@import "tweet";
@import "yellow_box";

html,
body {
  background: $grey-lightest;
}

.green {
  color: $green;
}

code,
pre {
  color: $grey-darker;
}
