@charset "utf-8";

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/footer.sass";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/tag";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/components/card";
@import "~bulma/sass/components/media";
@import "~bulma/sass/components/level";
@import "spinner";

html,
body {
  background: #f0f2f4;
}

.column {
  position: relative;
}

.navbar-brand .brand-text {
  font-size: 1.11rem;
  font-weight: bold;
}

.profile-picture {
  border-radius: 1%;
  overflow: hidden;
}

.green {
  color: #2aa511;
}

.hero-body {
  background-color: #2c2c2c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%232aa511' stroke-width='8.7' stroke-opacity='0.19'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  height: 300px;
}

.home .card {
  background: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;

  p {
    margin-bottom: 1em;
  }
}

.home .title {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.articles {
  margin: -250px 0 5rem;
}

.title:not(:last-child) {
  margin-bottom: 0;
}

.tags {
  padding-top: 1em;
  padding-bottom: 1em;

  .tag-category {
    color: #fff;
    background-color: #2c2c2c;
  }
}

code,
pre {
  font-family: monospace;
  color: #080808;
}
