@charset "utf-8";

$family-sans-serif: "Inter", blinkmacsystemfont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: "Source Code Pro", monospace;
$green: #2aa511;
$icon: $green;
$navbar-dropdown-arrow: $green;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/helpers/typography";
@import "~bulma/sass/helpers/spacing";
@import "~bulma/sass/helpers/flexbox";
@import "~bulma/sass/helpers/color";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/footer.sass";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/media";
@import "~bulma/sass/components/message";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/tag";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/notification";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/components/card";
@import "~bulma/sass/components/level";
@import "~bulma/sass/form/all";
@import "spinner";
@import "tweet";
@import "yellow_box";

html,
body {
  background: $grey-lightest;
}

.green {
  color: $green;
}

code,
pre {
  color: $grey-darker;
}
