$accent-colour: #3b94d9;
$light-colour: #697882;

.tweet {
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  position: relative;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  cursor: pointer;
  transition: border-color 0.1s;

  &:hover {
    border-color: #ccd6dd;
  }

  .tweet-head {
    display: flex;
    line-height: 1.2;

    .tweet-image {
      display: flex;
      align-items: center;
      margin-right: 0.5em;
      width: 2.5em;
    }

    .tweet-author {
      display: flex;
      justify-content: center;

      .name {
        margin-bottom: 1em;
        font-weight: 800;
        transition: color 0.1s;
      }

      &:hover .name {
        color: $accent-colour;
      }

      .handle {
        color: $light-colour;
        font-size: 0.875rem;
      }
    }
  }

  .tweet-body {
    margin-top: -1em;
    margin-left: 3em;
    white-space: pre-line;
  }

  .tweet-footer {
    .icons {
      margin-top: 0.5em;

      .fas {
        margin-left: 3em;
        color: $light-colour;
        transition: color 0.2s;
      }

      .fa-reply:hover,
      .fa-arrow-up:hover {
        color: $accent-colour;
      }

      .fa-retweet:hover {
        color: #3da50d;
      }

      .fa-heart:hover {
        color: #e0245e;
      }
    }
  }
}

@keyframes refresh {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.twitter-mention {
  display: inline-block;
  color: #0074d9;
}
