root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.{ts,tsx,json,js,yml,yaml,html}]
indent_size = 2

[*.{ts,tsx,js}]
max_line_length = 120

[*.json]
insert_final_newline = false
