@media print {
  html,
  body {
    margin: 0;
    color: #000;
    background: #fff;
  }

  header {
    display: none;
  }

  .cv header::after {
    content: "Elliot J. Reed";
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
  }
}
