@media print {
  html,
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em 0 0;
    background: #fff;
  }

  @page {
    margin: 6mm 4mm;
  }

  li {
    list-style-position: outside;
  }

  .prose {
    font-size: 12pt;
  }

  .prose :where(ul > li):not(:where([class~="not-prose"] *)) {
    padding-left: 0;
    margin-right: 0.5em;
    margin-left: -0.5rem;
  }

  .prose :where(h2):not(:where([class~="not-prose"] *)) {
    font-size: 15pt;
    margin-bottom: 2pt;
    margin-top: 8pt;
  }

  .prose :where(strong):not(:where([class~="not-prose"] *)),
  .prose :where(a):not(:where([class~="not-prose"] *)) {
    color: #171717;
    text-decoration: none;
  }

  .prose :where(h3):not(:where([class~="not-prose"] *)) {
    font-size: 13pt;
    margin-bottom: 1pt;
    margin-top: 3pt;
  }

  .prose :where(p):not(:where([class~="not-prose"] *)) {
    margin-bottom: 6pt;
    margin-top: 3pt;
  }

  .prose :where(li):not(:where([class~="not-prose"] *)) {
    margin-top: 3pt;
  }

  li:not(:last-child) {
    margin-bottom: 1pt;
  }

  #summary {
    display: none;
  }

  #education {
    margin-top: 1em;
    page-break-before: always;
  }

  #portfolio + p {
    margin-bottom: 0;
    page-break-after: avoid;
  }
}
