@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OpenDyslexic;
  font-display: swap;
  font-style: normal;
  src:
    local("OpenDyslexic-Regular"),
    local("OpenDyslexicRegular"),
    local("OpenDyslexic"),
    url("https://www.elliotjreed.com/fonts/OpenDyslexic-Regular.woff2") format("woff2"),
    url("https://www.elliotjreed.com/fonts/OpenDyslexic-Regular.woff") format("woff");
}

@font-face {
  font-family: OpenDyslexic;
  font-display: swap;
  src:
    local("OpenDyslexic-Bold"),
    local("OpenDyslexicBold"),
    local("OpenDyslexic"),
    url("https://www.elliotjreed.com/fonts/OpenDyslexic-Bold.woff2") format("woff2"),
    url("https://www.elliotjreed.com/fonts/OpenDyslexic-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: OpenDyslexic;
  font-display: swap;
  src:
    local("OpenDyslexic-BoldItalic"),
    local("OpenDyslexicBoldItalic"),
    local("OpenDyslexic"),
    url("https://www.elliotjreed.com/fonts/OpenDyslexic-Bold-Italic.woff2") format("woff2"),
    url("https://www.elliotjreed.com/fonts/OpenDyslexic-Bold-Italic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: OpenDyslexic;
  font-display: swap;
  src:
    local("OpenDyslexic-Italic"),
    local("OpenDyslexicItalic"),
    local("OpenDyslexic"),
    url("https://www.elliotjreed.com/fonts/OpenDyslexic-Italic.woff2") format("woff2"),
    url("https://www.elliotjreed.com/fonts/OpenDyslexic-Italic.woff") format("woff");
  font-style: italic;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

body {
  image-rendering: optimizequality;
}
