.tweet {
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  position: relative;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  cursor: pointer;
  transition: border-color 0.1s;
}

.tweet:hover {
  border-color: #ccd6dd;
}

.tweet .tweet-head {
  display: flex;
  line-height: 1.2;
}

.tweet .tweet-head .tweet-image {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
  width: 2.5em;
}

.tweet .tweet-head .tweet-author {
  display: flex;
  justify-content: center;
}

.tweet .tweet-head .tweet-author .name {
  margin-bottom: 1em;
  font-weight: 800;
  transition: color 0.1s;
  color: #000;
}

.tweet .tweet-head .tweet-author:hover .name {
  color: #3b94d9;
}

.tweet .tweet-head .tweet-author .handle {
  color: #697882;
  font-size: 0.875rem;
}

.tweet .tweet-body {
  margin-top: -1em;
  margin-left: 3em;
  white-space: pre-line;
  color: #000;
}

.tweet .tweet-footer .icons {
  margin-top: 0.5em;
}

.tweet .tweet-footer .icons .fas {
  margin-left: 3em;
  color: #697882;
  transition: color 0.2s;
}

.tweet .tweet-footer .icons .fa-reply:hover,
.tweet .tweet-footer .icons .fa-arrow-up:hover {
  color: #3b94d9;
}

.tweet .tweet-footer .icons .fa-retweet:hover {
  color: #3da50d;
}

.tweet .tweet-footer .icons .fa-heart:hover {
  color: #e0245e;
}

@keyframes refresh {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.twitter-mention {
  display: inline-block;
  color: #0074d9;
}
